<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>invoker-game</title>
    <style>
        .background-color{
            background-size: 110%;
            background-color: black;
            
        }
        h1{
            color: white;
            text-align: center;
            font-weight: 400;
        }
        .foto1{
            width: 256px;
            height: 256px;
            left: 500px;
        }
    </style>
</head>
<body class="background-color">
    <h1>Invoker Game by Urii455</h1>
    <img src="https://invoker-game.com/static/media/invoker2.d869abaf521e85197572.gif" alt="" width="600px" class="foto1">
</body>
</html>